* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font: 12px/18px Arial, sans-serif;
  height: 100%;
}
.wrapper {
  width: 100%;
  min-width: 800px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
  background: #e7e7e7;
  padding-bottom: 2px;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
  padding: 0 0 60px;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  margin: -60px auto 0;
  min-width: 800px;
  height: 60px;
  background: #e7e7e7;
  position: relative;
}
/* Header details
-----------------------------------------------------------------------------*/
header.header div.header-top {
  float: none;
  clear: both;
}
header.header div.header-top > ul {
  list-style: none;
  display: inline;
  margin: 0px;
  padding: 0px;
}
header.header div.header-top > ul > li {
  font-weight: bold;
  float: left;
  padding: 1px;
  width: 50%;
  padding: 2px 5px 2px 5px;
}
header.header div.header-top > ul > li:nth-child(2) {
  text-align: right;
}
/* Footer details
-----------------------------------------------------------------------------*/
ul.footer-tabs {
  min-height: 39px;
}
div.footer-status-bar > ul {
  list-style: none;
  display: inline;
  margin: 0px;
  padding: 0px;
}
div.footer-status-bar > ul > li {
  float: left;
  padding: 2px;
  padding-left: 3px;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa #fff #fff #aaa;
  background-color: #e7e7e7;
  font-size: 9pt;
  color: #333;
}
div.footer-status-bar > ul > li:nth-child(1) {
  width: 100px;
  font-weight: bold;
}
div.footer-status-bar > ul > li:nth-child(2) {
  width: 200px;
}
div.footer-status-bar > ul > li:nth-child(3) {
  width: 55px;
  font-weight: bold;
}
div.footer-status-bar > ul > li:nth-child(4) {
  padding-left: 10px;
  padding-right: 10px;
  color: #aaa;
}
div.footer-status-bar > ul > li:nth-child(4).wait {
  color: green;
}
div.footer-status-bar > ul > li:nth-child(4).work {
  color: black;
}
div.footer-status-bar > ul > li:nth-child(4).error {
  color: red;
}
.grid-context-menu {
  /*li.jqx-menu-item {
		padding: 0px;
	}
	li.jqx-menu-item-hover {
		padding: 0px;
	}*/
}
.grid-context-menu li.jqx-menu-item-top {
  padding: 2px;
}
.grid-context-menu span.jqx-menu-item-arrow-top-right {
  margin-right: -5px;
  height: 20px;
}
.grid-context-menu span.jqx-menu-item-arrow-right-selected {
  margin-right: -5px;
  height: 20px;
}
.grid-context-menu span.grid-context-menu-item > span {
  position: relative;
  left: 5px;
  top: 1px;
}
